@font-face {
 font-family: Raleway-SemiBold;
 src: url(./fonts/raleway/Raleway-SemiBold.ttf);
}

@font-face {
 font-family: Raleway-Regular;
 src: url(./fonts/raleway/Raleway-Regular.ttf);
}

@font-face {
 font-family: Raleway-Light;
 src: url(./fonts/raleway/Raleway-Light.ttf);
}

@font-face {
 font-family: Quicksand-Light;
 src: url(./fonts/quicksand/Quicksand-Light.otf);
}

@font-face {
 font-family: Quicksand-Regular;
 src: url(./fonts/quicksand/Quicksand-Regular.otf);
}

/*BODY*/
body{
  background-color: black;
  font-family: Quicksand-Regular;
  height: 100%;
}

/*NAVI*/
.navbar-inverse .navbar-nav>li>a   {
  color: white;
  margin: auto;
  font-family: Raleway-SemiBold, sans-serif;
}

.btn-default {
  font-family: Raleway-Light;
}

/*CAROUSEL*/
.carousel-control.left {
  display: none;
}

.carousel-control.right {
  display: none;
}

.carousel-inner>.item {
 -webkit-transition: 0.0000001s ease-in-out left;
 transition: 0.0000001s ease-in-out left;
 -webkit-transition: 0.0000001s, ease-in-out, left;
 -moz-transition: .0000001s, ease-in-out, left;
 -o-transition: .0000001s, ease-in-out, left;
 transition: .0000001s, ease-in-out, left;
 }

.carousel-indicators {
  bottom: 30px !important;
}

/*DESCRIPTION*/
.wrapper {
  margin-bottom: -1700px;
  height: 2500px;
}

.descriptionWrapper {
  font-family: Quicksand-Light;
}

/*DIAGRAM*/
.diagramWrapper {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.diagram {
  max-width: 100%;
  align-content: center;
}

/*TEAM SECTION*/
.teamText {
   font-size: 45px;
   margin-top: 120px;
   margin-bottom: 80px;
   font-family: Quicksand-Regular;
 }

.teamContainer {
  height: 800px;
}

/*FOOTER*/
.footerWarper {
   background-color: #222222 !important;
   text-align: center;
   vertical-align: middle !important;
}

.footerText {
  top: 50%;
}
