@font-face {
 font-family: Raleway-SemiBold;
 src: url(./fonts/raleway/Raleway-SemiBold.ttf);
}

@font-face {
 font-family: Raleway-Regular;
 src: url(./fonts/raleway/Raleway-Regular.ttf);
}

@font-face {
 font-family: Raleway-Light;
 src: url(./fonts/raleway/Raleway-Light.ttf);
}

@font-face {
 font-family: Quicksand-Light;
 src: url(./fonts/quicksand/Quicksand-Light.otf);
}

@font-face {
 font-family: Quicksand-Regular;
 src: url(./fonts/quicksand/Quicksand-Regular.otf);
}

body{
  background-color: black;
  font-family: Quicksand-Light;
}

.navbar-inverse .navbar-nav>li>a   {
  color: white;
  margin: auto;
  font-family: Raleway-SemiBold, sans-serif;
}

.btn-default {
  margin-left: 345px;
  margin-top: -180px;
  font-family: Raleway-Light;
}

.teamFont{
  font-family: Quicksand-Regular;
  color: white;
}

.description {
  margin-top: 360px;
  margin-bottom: 360px;
}

.descriptionHeader {
  left: 310px;
  bottom: 220px;
}

.descriptionPara {
  margin-left: 117px;
  left: 220px;
  bottom: 180px;
  font-size: 22px;
  z-index: 10;
}

.carousel {
  margin: auto;
  position: absolute;
  left: 384px;
  top: 78px;
  max-height: 680px;
  width: 100%;
}

.carousel-inner{
  right: 170px;
  bottom: 28px;
  left: 164px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
  margin-top:7px  ;
  height: 589px;
}

.carousel-inner>.item {
  text-align: center;
  color: white;
  top: 30px;
}

.carousel-control.left {
  display: none;
}

.carousel-control.right {
  display: none;
}

.carousel-indicators {
  left: 555px;
}

.carouselText {
  width: 775px;
}

.iPhoneImage {
    top: 85px ;
    left: 540px;
    position: absolute;
    z-index: 5;
}

h3 {
    margin-top: 55px;
    margin-bottom: 35px;
}

.carousel-inner>.item {
 -webkit-transition: 0.0000001s ease-in-out left;
 transition: 0.0000001s ease-in-out left;
 -webkit-transition: 0.0000001s, ease-in-out, left;
 -moz-transition: .0000001s, ease-in-out, left;
 -o-transition: .0000001s, ease-in-out, left;
 transition: .0000001s, ease-in-out, left;
 }

.footer {
   margin-bottom: 0px;
   background-color: #222;

 }

.wtfisthis {
  background-color: red;
}
