body{
  background-color: black;
}

.description{
  margin-top: 25%;
  margin-bottom: 25%;
  top:15%;
}

.descriptionHeader {
  left: 310px;
  bottom: 220px;
}

.descriptionPara {
  margin-left: 8%;
  left: 220px;
  bottom: 180px;
  font-size: 22px;
  z-index: 10;
}

.btn-default {
  margin-left: 345px;
  margin-top: -180px;
}

.navbar-inverse .navbar-nav>li>a   {
  color: white;
  margin: auto;
  font-family: Raleway, sans-serif;
}

.carousel {
    position: relative;
    margin: auto;
    position: absolute;
    right: 280px;
    top: 77px;
    max-height: 680px;
}

.carousel-inner{
  right: 170px;
  bottom: 28px;
  left: 142px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
  margin-top:7px  ;
  width: 705px;
  height: 589px;
}

.carousel-inner>.item {
  text-align: center;
  color: white;
  top: 30px;
  -webkit-transition: 0.1s ease-in-out left;
  -moz-transition: 0.1s ease-in-out left;
  -o-transition: 0.1s ease-in-out left;
  transition: 0.1s ease-in-out left;
}

.carousel-control.left {
  display: none;
}

.carousel-control.right {
  display: none;
}

.carousel-indicators {
  left: 69%;
}

.iPhoneImage {
    top: 85px ;
    left: 540px;
    position: absolute;
    z-index: 5;
}

h3 {
    margin-top: 55px;
    margin-bottom: 30px;
}
